@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    /*Anchura, ocupamos el 100%*/
    min-height: 100vh;
    /*Especificar la fuente */
    font-family: 'Roboto', sans-serif;
    /*Espacio entre las letras*/
    letter-spacing: 0.05em;
    /*Establecer el interlineado de las lineas de texto*/
    line-height: 1.6;
    background-image: url("Assets/madera.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.lds-dual-ring {
    display: inline-block;
    width: 100px;
    height: 100px;
    position: absolute;
    margin-top: 270px;
    margin-left: 700px;
    margin-right: 100px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
    
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .loader{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

/*header negrito */

.nombre_empresa {
    font-family: 'Roboto', sans-serif;
    font-size: 26.5px;
    color: white;
    margin: 0;
    height: auto;
    width: auto;
}

header {
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
    letter-spacing: 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    padding-left: 20px;
    height: 42.5px;
    padding-right: 10px;
}

.nav1 {
    background: #7C3C21;
    height: 70px;
    padding-right: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 1000ms transform;
}

.nav1.active {
    height: 50px;
}

.barramenu.active {
    top: 50px;
}

.menu {
    /*display: flex;*/
    padding-left: 0;
}

.menu > li {
    position: relative;
    list-style: none;
    display: inline-block;
    margin: 15px;
}

.menu li a {
    color: #2D2424;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    transition: all 0.5s ease;
    font-size: 20px;
    color: #fff;
}

.menu > li > a:hover {
    padding: 3px 5px;
    background: #fff;
    border-radius: 10px;
    color: #000;
}


/*-----SUBMENU--------*/
.desplegable{
    position: absolute;
    background-color: #7C3C21;
    padding: 0;
    margin: 0;
    padding-top: 18px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
}
 
.desplegable > li {
    list-style: none;
    margin: 5px;
    /*border-bottom: 1px solid #000;*/
}

.desplegable li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.menu li:hover .desplegable{
    visibility: hidden;
    opacity: 1;
}

.cateMenu :hover {
    background-color: #fff;
    border-radius: 5px;
    color:#000
}

.scrol {
    height: 100px;
}
html,
body {
    margin: 0;
    padding: 0;
}
.contenedor {
    width: 100%;
}

.refer{
    display: flex;
    width: auto;
    height: 50px;
}

.contenedor .tarjeta {
    width: 70%;
    height: 50px;
    border-radius: 0.500em;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin: 50px;
    transition: all 0.25s;
    background: #EDCFA9;
    border: 2px solid white;
}

.tamaño {
    display: inline-block;
    width: 90%;
    height: 50px;
    text-align: left;
}

.tamaño2 {
    display: inline-block;
    width: auto;
    height: 50px;
}

.icono {
    padding-left: 20px;
    width: 50px;
    align-items: baseline;
}

.icono img {
    padding-top: 5px;
    height: 40px;
}

.contenedor .tarjeta:hover {
    border: 2px solid #470D21;
}

.contenedor .tarjeta h3 {
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-size: 1.5938rem;
    margin: 0.2rem 1rem;
    width: auto;
    height: auto;
    word-wrap: break-word;
}
/*------------BORRAR RECETA------*/

.show {
    pointer-events: auto;
    opacity: 1;
}
 
.modal {
    background-color: #fff;
    width: 600px;
    max-width: 100%;
    padding: 10px 0px;
    border-radius: 1px;
    border: 2px solid #000;
    text-align: center;
}

.equisd {
    background-color: #fff;
    border-color: #fff;
    border: none;
    padding: 0;
}
 .separador {
    height: 10px;
 }

.Xalinear :hover {
    background-color:#470D21;
    color: #fff;
}

.Xalinear {
    text-align: right;
    padding: 0px 15px;
}
.linea {
        border: 0.3px solid #000;
    /* border-top: 1px solid #000;*/
        padding: 0;
        margin: 0;
}
.cateMenu{
    cursor: pointer;
}


.pregunta  {
    padding: 15px 0px;
}
.alineado {
    text-align: center;
    padding: 0px 15px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.iconProfile {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 200;
}

@media screen and (max-width:1000px) {
    .contenedor .tarjeta{
       width: 60%; 
    }
    .contenedor .tarjeta h3 {
        font-size: 1.2rem;
        margin: 0.5rem 1rem;
    }
}
@media screen and (max-width:600px) {/*agrego pao*/
    
    .separador {
        height: 0px;
     }
    .alineado {
        padding-top: 4px;
    }
    .contenedor .tarjeta h3 {
        font-size: 1rem;
        margin: 0.7rem 1rem;
    }
    .icono {
        padding-left: 10px;
        width: 40px;
    }
    .icono img {
        padding-top: 8px;
        height: 35px;
    }
}
@media screen and (max-width:480px) {/*agrego pao*/
    .contenedor .tarjeta h3 {
        font-size: 0.8rem;
        margin: 0.9rem 1rem;
    }

    .icono {
        padding-left: 10px;
        width: 35px;
    }
    .icono img {
        padding-top: 8px;
        height: 30px;
    }
}

@media screen and (max-width: 375px){
    .separador {
        height: 0px;
     }
     .pregunta  {
        width: 238px;
        height: 40px;
        padding: 3px 0px;
        font-size: 13px;
    }
    .aceptar {
        width: 65px;
        height: 20px;
        font-family: 'Roboto', sans-serif;
    }
    .cancelar {
        width: 65px;
        height: 20px;
        font-family: 'Roboto', sans-serif;
    }
    .alineado{
        padding: 0px 8px;
        padding-top: 6px;
    }
    .Xalinear {
        padding: 0px 8px;
    }
}
@media screen and (max-width: 350px){
    .contenedor .tarjeta .botonBorrar{
        margin-top: 115px;
     }
}
@media screen and (max-width: 300px){
    .contenedor .tarjeta .botonBorrar{
        margin-top: 130px;
     }
    .separador {
        height: 0px;
     }
     .pregunta  {
        width: 185px;
        height: 35px;
        padding: 2px 0px;
        font-size: 10px;
    }
    .aceptar {
        width: 50px;
        height: 17px;
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
    }
    .cancelar {
        width: 50px;
        height: 17px;
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
    }
    .alineado{
        padding: 0px 5px;
        padding-top: 1.5px;
    }
    .Xalinear {
        padding: 0px 5px;
    }
}
@media screen and (max-width: 200px){

    .contenedor .tarjeta .botonBorrar{
        margin-top: 123px;
     }
    .separador {
        height: 0px;
     }
     .pregunta  {
        width: 185px;
        height: 35px;
        padding: 2px 0px;
        font-size: 10px;
    }
    .aceptar {
        width: 50px;
        height: 17px;
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
    }
    .cancelar {
        width: 50px;
        height: 17px;
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
    }
    .alineado{
        padding: 0px 5px;
        padding-top: 1.5px;
    }
}

/*footer*/

footer {
    background-color: #7C3C21;
    font-size: 20px;
    margin-top: 60px;
    position: relative;
    display: none;
    height: 135.6px;
    line-height: 1.2;
    
}

.container-logo {
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.logo2 {
    width: 79px;
    height: 43px;
}

.container-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    text-shadow: none;
}

a:link {
    color: #F9E4D4;
}

a:active {
    color: #F9E4D4;
}

a:visited {
    color: #F9E4D4;
}
a:hover{
    text-decoration-line: underline;
    text-decoration-color: #000;
    color:#000;
 }
.contacto {
    display: flex;
    justify-content: end;
    cursor: default;
    color: #F9E4D4;
    text-shadow: none;
    margin: 0;
    padding: 0;
    border: 0;
}

.copyright {
    display: flex;
    justify-content: center;
    cursor: default;
    color: #F9E4D4;
    text-shadow: none;
    margin: 0;
    padding: 0;
    border: 0;
}

/*-----responsive header--------*/
@media all and (max-width: 1020px){

    .nav1{
        padding-right: 30px;
        height: 50px;
    }
    .logo{
        width: 100%;
        max-width: 205px;
        min-width: 70px;
        
    }

    .logo img{
        width: 25%;
        height: auto;
        padding-left: 10px;
        padding-right: 5px;
    }
    .nombre_empresa{
        font-size: 100%;
        max-width: 133.42px;
        width: 100%;
    }
    .menu{
        
        width: auto;
    }
    .menu li{
        width: auto;
        margin: 5px;

    }
    .menu li a{
        font-size: 16px;
    }
    .menu li a:hover {
        padding: 0.5px 1.5px;
        border-radius: 5px;
    }
    .nav1.active {
        height: 40px;
    }
}

@media all and (max-width: 605px){
    .nombre_empresa {
        font-size: 16px;
        height: auto;
        width: 140px;
    }
    .nav1{
        padding-right: 10px;
        
    }
    .menu1{
        width: auto;
    }
    
    .logo{
        width: 100%;
        max-width: 220px;   
    }
    .logo img{
       height: 27px;
       width: auto;
    }

    .menu{
        width: 100%;
    }
    .menu li{
        width: auto;
        margin: 5px;

    }
    .menu li a{
        font-size: 11px;
    }
    .menu li a:hover {
        padding: 0.5px 1.5px;
        border-radius: 5px;
    }
    
}
@media all and (max-width: 500px){
    .nombre_empresa {
        display: none;
}
.logo{
    width: 100%;
    max-width: 80px;   
}
/*-----responsive header--------*/
}
