@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rokkitt:wght@800&display=swap');

*{
 margin: 0;
 
}  

body{
    
    background: url(../Assets/madera.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Roboto', serif;
}

.recta{

    display: grid;
   margin-left: auto;
   margin-right: auto;
   margin-top: 10%; 
   margin-bottom: 10%;
   border:1px solid black;
   background-color: #DA723C;
   grid-template-areas: "SirCuad SirCuad2" ; 
   border-radius: 20px;
   width: 532px;
   height: 342px;
   
   

    
}

.SirCuad {
    

    max-height: 342px;
    max-width:239px;
    background-color: #DA723C;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-top: 35%;
  
  
}
.SirCuad2{
    border-left: 1px solid black;
    padding-top: 40%;
    padding-left: 14%;
    max-height: 342px;
    max-width: 293px;
    background-color: #F9E4D4;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    

    
}
.logoC{
    color: white;
    
    text-align: center;
    font-size: 16px;

}

.logo{
    margin-bottom: 10%;
    width: 182px;
    height: 95px;
    padding-right: 5%;
}
.Ingrese{
    position:relative;
    right: 20px;
    font-size: 18px;
    
}
.inputC{
    margin-top: 10px;
    height: 25px;
    width: 210px;
    border: 1px solid black;
   
    
}
.error{
    margin-left: 15px;
}
.botonEn{
    margin-top: 10px;
    margin-left: 60px;
    width: 75px;
    color: white;
    background-color: #DA723C;
    border: none;
    cursor: pointer;
    transition: 100ms transform;
    
    border-radius: 19%;
    height: 39px;
    z-index: 1;
}

.botonEn:hover {
    /*
    transform: scale(1.2);
    background-color: white;
    */
    
    background-color: #470D21;
     
     
}
.butt {

    top:35px;
    padding-top: 1px;
    padding-bottom: 0;
    padding-left: 1px;
    padding-right: 1px;
    margin-top: 10px;
    margin-left: 35px;
    background: black;
    border: none;
    cursor: pointer;
    transition: 100ms transform;
    place-items: center;
    border: 1px solid black;
    border-radius: 19%;
    height: 39px;
    z-index: 1;
}

.butt:hover {
    transform: scale(1.2);
}

.buttonbackimage {
    
    position: absolute;
    place-items: center;
    z-index: 10;
}

.buttonbackimage2 {
    
    z-index: 11;
    place-items: center;
}

.buttonbackimage:hover {
    opacity: 0;
    transition: opacity 1.5s;
}







@media (max-width:776px ){
   
    .recta{
        
        border:none;
        width:532px;
        height:684px;
        background-color: transparent;
        grid-template-areas: "SirCuad"
        "SirCuad2";
        
        
    }
   .error{
       margin-left: 85px;
       
   }
    .SirCuad{
        position:relative;
        top:35px;
        border: 1px solid black;
        border-top-right-radius: 20px;
        
        min-width: 480px;
        
        padding-top: 5%;
        z-index: -1;
        margin-right: 25px;
        margin-left: 25px;
        
        

    }
    body{
        background-size: 150% 100%;
    }
    .SirCuad2{
        
        min-width: 406px;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding-top:  16%;
        height: 200px;
        margin-right: 25px;
        margin-left: 25px;
        
        
        
    }
    .botonEn{
        
        
        margin-left: 135px;
        
    }
    .Ingrese{
        right: 30px;
    }
    .logo{
        margin-bottom: 0;
    }
}
@media (min-width: 1600px){

    .recta{
        width:980px;
        height: 400px;
 

    }
    .inputC{
        width: 460px;
        height: 31px; 
    }
    .Ingrese{
        font-size: 20px;
    }
    .SirCuad{
        max-height:400px;
        max-width: 400px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;

    }
    .botonEn{
        height:35px;
        width: 236px;
        font-size: 20px;
        margin-left: 120px;
    }
    .SirCuad2{
        padding-top: 30%;
        max-height: 400px;
        min-width: 500px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-right: 2px solid black;

     
    }
    .error{
       margin-left: 120px;
       font-size: 20px;

    }
}